fastapi
uvicon

#for template  #new
jinja2

#for static files
aiofiles

#for database   #new
sqlalchemy
pymysql


#for loading environment variables  #new
python-dotenv

#for caching_sha2_password auth methods
cryptography

#for email validation            #new
pydantic[email]


#hashing              #new
passlib[bcrypt]

#for testing       #new
pytest
requests